// Main SCSS, there should be no CSS in this page!

// CSS Reset
@import 'partials/_css_reset.scss';

// Global Specificity
@import 'partials/_variables.scss';
@import 'partials/_mixins.scss';

// Site Specificity
@import 'pages/_layout.scss';
@import 'partials/_header.scss';

// Page Specificity
@import 'pages/home-page.scss';

