// Header SCSS

#header {
	
	@include clearfix;

	h1 {
		font-size:30px;
		float:left;
	}

    nav {
    	float: right;

    	li {
    		float: left;
    		font-size:15px;
    		padding-top: 15px;

    		a {
    			padding: 0 10px 0 10px;
    			text-decoration:none;
    			color: black;

    			&:hover {
    				color:blue;
    			}
    		}
    	}
	}
}// #header