// Home Page SCSS

#home-page {

	margin-top:20px;

	.hero-image {
		width:940px;
		height:240px;
		border:1px solid black;
	}

	h2 {
		font-size:22px;
		margin: 15px 0px;
	}

	p {
		margin-bottom:10px;
	}

	img.img-thumbnail {
		width:200px;
		height:200px;
		border:1px solid black;
		margin-bottom:15px;

		.inner {
			margin-left:15px;
			margin-right:15px;
		}
	}

	
}// #home-page